body {
    background-image: url(../IMG/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Muli', sans-serif;
}

/* Titulo */
h1 a {
    text-decoration: none;
    color: black;
    font-size: 70px;
    font-family: 'Yeon Sung', cursive;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
}

h1 a:hover {
    text-shadow: 2px 2px steelblue;
}

/* Esta clase esta en un DIV que engloba todo el body para ordenar los DIVs verticalmente*/
.flex-global {
    display: flex;
    flex-direction: column;
}

/* Los DIVs que esten dentro de esta clase tendran un margen entre ellos */
.flex-global>div {
    margin: 0.2%;
}

/* Administrar el header de la pagina index para que tenga un tamaño adecuado */
header {
    text-align: center;
    height: 150px;
}

/* Para que la lista este horizontalmente para hacer el menu en cascada */
.navbar {
    overflow: hidden;
    background-color: #402F24;
}

.navbar .login {
    float: right;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #BF8B65;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* El footer que este al final de la pagina */
footer {
    bottom: 0;
    padding: 0.5%;
    width: 97.3%;
    margin-right: auto;
    margin-left: auto;
    border: solid 3px #402F24;
    background-color: #EAE6DC;
    display: flex;
    flex-direction: row;
}

footer th {
    float: left;
}

footer img {
    width: 30px;
    height: 30px;
}

footer p {
    padding: 1%;
    text-align: justify;
}

footer table {
    border-collapse: separate;
    border-spacing: 20px 0px;
}

/* El boton que sale siempre abajo a la derecha para que en cualquier momento vayas al inicio de la pagina */
.botonArriba {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.5%;
}

.botonArriba img {
    width: 50px;
    height: 50px;
}