/* Titulo */
.balon {
	width: 140px;
	height: 140px;
}

.p1 {
	font-family: impact;
	color: #000000;
	font-size: 160px;
	text-align: center;
	border: 10px solid #4dff00;
	border-radius: 50px;
}

.o {
	color: #00e511
}

/* Menu desplegable */
.menu {
	font-family: verdana;
	font-size: 30px;
	margin: 0 auto;
	width: 1500px;
	list-style: none;
	position: absolute;
	top: 400px;
	left: 330px;
	z-index: 2;
}

.lis1 {
	list-style: none;
}

.li1 {
	padding: 10px;
	width: 280px;
	height: 40px;
	background-color: #02b417;
	text-decoration: none;
	color: #ffffff;
	float: left;
}

.li1:hover {
	background-color: #019112;
}

.lis2 {
	list-style: none;
}

.li2 {
	padding: 10px;
	width: 280px;
	height: 40px;
	background-color: #00da42;
	color: #ffffff;
	text-decoration: none;
	float: left;
}

.li2:hover {
	background-color: #02cb3f;
}

.lis1:hover>.ligas {
	display: block;
	color: #00ffb6;
}

.ligas {
	display: none;
	min-width: 140px;
	position: absolute;
	left: 0px;
	top: 90px;
}

.lis1:hover>.equipos {
	display: block;
	color: #00ffb6;
}

.equipos {
	display: none;
	min-width: 140px;
	position: absolute;
	left: 900px;
	top: 90px;
}

/* Caja de resultados */
.resultados {
	color: #000000;
	margin: auto;
	text-align: center;
	padding: 10px 15px;
	border-collapse: separate;
	border: 5px solid green;
	border-radius: 15px;
	width: 200px;
	height: 200px;
	min-width: 1140px;
	z-index: 1;
}

.rres {
	font-size: 30px;
	font-family: Browallia New;
}

.rtit1 {
	color: #37ac00;
	margin: 20px;
	font-size: 30px;
}

.fequipos {
	width: 40px;
	height: 40px;
}

/* Articulo principal */
.cordo {
	width: 700px;
	height: 470px;
	padding: 10px;
	position: absolute;
	top: 1050px;
	left: 400px;
	display: flex;
}

.cordo:hover {
	box-shadow: 20px 20px 100px #666;
}

.cor {
	padding: 0px;
}

.ballon {
	position: absolute;
	right: 400px;
	top: 200px;
}

.art2 {
	position: absolute;
	left: -350px;
	top: 850px;
	width: 380px;
	height: 220px;
	padding: 10px;
}

.art2:hover {
	box-shadow: 20px 20px 100px #666;
}

.art3 {
	position: absolute;
	left: -350px;
	top: 1100px;
	width: 380px;
	height: 220px;
	padding: 10px;
}

.art3:hover {
	box-shadow: 20px 20px 100px #666;
}

.art4 {
	position: absolute;
	left: 400px;
	top: 1550px;
	width: 340px;
	height: 220px;
	padding: 10px;
}

.art4:hover {
	box-shadow: 20px 20px 100px #666;
}

.art5 {
	position: absolute;
	left: 770px;
	top: 1550px;
	width: 330px;
	height: 220px;
	padding: 10px;
}

.art5:hover {
	box-shadow: 20px 20px 100px #666;
}

.art6 {
	position: absolute;
	left: 1147px;
	top: 1550px;
	width: 380px;
	height: 220px;
	padding: 10px;
}

.art6:hover {
	box-shadow: 20px 20px 100px #666;
}

.tart4 {
	position: absolute;
	left: 400px;
	top: 1750px;
}

.tart5 {
	position: absolute;
	left: 770px;
	top: 1750px;
}

.tart6 {
	position: absolute;
	left: 1147px;
	top: 1750px;
}

/* Footer */
.contenedor {
	height: auto !important;
	margin: 0 auto;
}

footer {
	margin-top: 870px;
}

.footer {
	height: 60px;
}

.redes {
	height: 40px;
	width: 40px;
}

.pfooter {
	text-align: center;
}

/* Registro */
.p2 a {
	text-decoration: none;
	color: #FFFFFF;
	padding: 10px 15px;
	background-color: #00810f;
	font-size: 30px;
	vertical-align: text-top;
	float: right;
	position: absolute;
	top: 50px;
	right: 190px;
}

.p2 a:hover {
	background-color: #00a814;
}

.p3 a {
	text-decoration: none;
	color: #FFFFFF;
	padding: 10px 15px;
	background-color: #00810f;
	font-size: 30px;
	vertical-align: text-top;
	float: right;
	position: absolute;
	top: 50px;
	right: 20px;
}

.p3 a:hover {
	background-color: #00a814;
}

/* Ralla footer */
.hrfooter {
	margin: 0 auto;
}