
*{
	margin:0;
    padding:0;
    box-sizing: border-box;
}	
#contentgaleria{
	padding-left: 10%;
	padding-right: 10%;
  padding-top: -15%;
  height: 100%;
  width: 100%;
}
#gallery{

  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:space-around;
}
/* posicion de las imagenes  */
.container {
    position: relative;
    padding-top:0px;
    height:40%;
    width: 40%;
    padding-left:-10%; 
  }
  
  /* ocultar imagenes */
  .mySlides {
    display:none;
  }
  /* puntero el raton */
  .cursor {
    cursor: pointer;
  }
  
  /* numero de texto (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* texto de la imagen */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* disposicion de columnas */
  .column {
    float: left;
    width: 16.66%;
    height: 2%;
  }
  .row{

    height: 2%;
  }
  
  /* opacidad de las imagenes en columna */
  .demo {
    opacity: 0.6;
  }
  /*quitar opacidad de las imagenes al pasar por ellas*/
  .active,
  .demo:hover {
    opacity: 1;
  }
  h1{
    color:white;
    text-decoration: underline;

  }
  ol{
    color: black;
  }
  #ganadores{
    color:rgb(255, 255, 255);
    text-decoration: underline;
    margin-top: 10%;
    margin-left: 10%;
  }
  /*Dar la vuelta al gif*/
  #rotar{
    transform:rotate(180deg);
  }
  #concurso{
    width:40%;
    height:40%;
   
  }
  #concursotext{
      padding-left:5% ;
      color:black;
    opacity: 0.75;
    float: left;
    background:white;
    font-family: Georgia;
    padding: 5%;
    border:solid black 2px;

  }
  #gifdron2{
    float:left;
    margin-top:-1%;
    margin-right: 2%;


  }
  #audio{
    margin: 2%;
    margin-top: 6%;
    
  }