{
  box-sizing: border-box;
}

form {
  padding: 1em;
  background: #737DDC;
  border: 1px solid #c1c1c1;
  margin-left: 3rem;
  margin-top: 5rem;
  max-width: 600px;
  padding: 1em;
}

body {
  background-image: url(../../img/pcHardware/fondo.jpg); 
	background-repeat: no-repeat;
	background-size: 2000px;
	text-align: center;
	margin-top: 0.5rem;
}

form input {
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid green;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  border: 0;
}
form button:hover {
  background: black;
}

label {
  text-align: left;
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
}

input {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid gold;
}


@media (min-width: 400px) {
  form {
    overflow: hidden;
  }

  label {
    float: left;
    width: 200px;
  }

  input {
    float: left;
    width: calc(100% - 200px);
  }
  
  input[type='button'] {
    padding-right: 350px;
	float: center;
    width: 75px;
	background: lightgreen;
	margin-left: 12px;
  }

  button {
    float: right;
    width: calc(100% - 200px);
  }
}
#atras{
  padding-left: 50px;
  position: absolute;
  top:  70px;
  left: 20px;}
#vueltalogin{
    position: absolute;
    top:  650px;
    left: 300px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 0, 0);
  }
  li {
    display: inline;				
  }
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
  }
  li a:hover, .dropdown:hover {
    background-color: rgb(100, 65, 228);
  }
  .dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 100px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: LightGrey;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  